.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.rating .fa {
    color: #ff523b;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height:60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(- 50);
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    padding-left: 22px;
    padding-right: 22px;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0 -1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: brown;
}
.rating{
    text-align: left;
}
p{
    text-align: left;
}