.card{
    justify-content: center;
    background-position: center;
    background: rgb(243, 240, 240);
}
button{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;

}
.card input[type="text"],.card input[type="password"]{
        border: 0;
        background: none;
        display: block;
        text-align: center;
        margin: 20px auto;
        border: 2px solid #272829;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: black;
        border-radius: 24px;
        transition: 0.25s;
    }
    .card input[type="text"]:focus,.card input[type="password"]:focus{
        width: 230px;
        border-color:rgb(201, 134, 145);
    }
   
