
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<footer class="footer-distributed">

			<div class="footer-left">
				<h3>Company<span></span></h3>
				<p class="footer-links">
					<a href="#">Blog</a>
					<a href="#">About</a>
					<a href="#">Contact</a>
                    <a href="#">Help</a>
				</p>
				<p class="footer-company-name">Company Name 2020</p>
			</div>
            

			<div class="footer-center">
				
				 
					<h3>Contact Company</h3>
					<ul>
						<li>company@gmail.com</li>
						<li>+21677200300</li>
						<li>website Ecommerce</li>
					</ul>
				
			</div>

			<div class="footer-right">
				<div class="footer col-4">
					<h3>Follow us</h3>
					<ul>
						<li>facebook</li>
						<li>twitter</li>
						<li>instagram</li>
						<li>youtube</li>
					</ul>
				</div>
			</div>

		</footer>
