<div style="background: white; padding: 10px; border-radius: 5px;">
    <div class="card text-white bg-danger mb-3" style="max-width: 19rem;">
        <div class="card-header text-center" style="color:black; background-color: rgb(148, 135, 135);">Shopping Cart</div>
        <div class="card-body" style="background-color: rgb(223, 219, 219);">
          <h4 class="card-title" style="color: black"> Total for orders: ${{total}}</h4>
          <h4 class="card-title" style="color: black">Items bought:</h4>
    
          <ul>
            <li *ngFor="let order of orders.productOrders">
              {{ order.product.name }} - {{ order.quantity}} piéces.
            </li>
          </ul>
          <button class="btn btn-light btn-block" style="background-color: #ff523b;" (click)="finishOrder()"
            [disabled]="orders.productOrders.length == 0">Checkout
          </button>
        </div>
      </div>
    <div class="card text-white bg-warning mb-3" style="max-width: 19rem;">
        <div class="card-header text-center" style="background-color: rgb(148, 135, 135); color: black">Delivry</div>
        <div class="card-body" style="background-color: grey;">
          <div class="text-center mt-5" style="text-align: left !important; padding: 0">
            <div>
              <ul class="list-group" style="color: black">
                <li class="list-group-item" *ngFor="let item of itemsList" style="background: #bebbb1 !important;">
                  <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}"
                    (change)="onItemChange(item)" />
                  {{item.name}}{{item.price}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      

</div>